                           ** DATA TYPES & STRCTURE**

Q.1  What are data structures, and why are they important?

Ans. Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built. Python helps to learn the fundamental of these data structures in a simpler way as compared to other programming languages. It is important because it ensuring that a program performs its tasks in the most efficient way possible, both in terms of time and space. Choosing the right data structure can make a huge difference in software performance.

Q2.  Explain the difference between mutable and immutable data types with examples.

Ans. A *mutable data* type is one where the value can be changed or modified after the object is created. This means that if you modify an element within a mutable data structure, it affects the original object directly.

*Examples of Mutable Data Types:- Sets,Lists,Dictionaries.

      An *Immutable data*type is one where the value cannot be changed after the object is created. If you try to modify an immutable object, it will create a new object instead of changing the original one.

*Examples of Immutable Data Types:-String,Tuples,Frozensets.

Q3.  What are the main differences between lists and tuples in Python?

Ans. List : You can store anything in list. List can store heterogenous data List is an ordered collection of elements that can be of any data type, List are mutable. List = [] X = [1, 2, 3, 4].

Tuples: Tuples are immutable, Tuples can store heterogenous data Tuples = () X = (1, 2, 3, 4).

Q4.  Describe how dictionaries store data.

Ans. A dictionary is a kind of data structure that stores items in key-value pairs. A key is a unique identifier for an item, and a value is the data associated with that key. Dictionaries often store information such as words and definitions, but they can be used for much more.

Q5.  Why might you use a set instead of a list in Python?

Ans. A set in Python has unique advantages over a list in certain use cases. Below are the key reasons why you might prefer a set over a list:

>>Sets Automatically Remove Duplicates.
>>Faster Membership Checking (O(1) vs O(n)).
>>Sets Support Mathematical Operations (Union, Intersection, Difference).
>>Sets Are Unordered & Do Not Allow Indexing.

Q6.  What is a string in Python, and how is it different from a list?

Ans. A string in Python is a sequence of characters enclosed in either single quotes (') or double quotes ("). Strings are immutable, meaning that once a string is created, its contents cannot be modified.

Example of a String: my_string = "Hello, World!"

* Mutability: Strings are Immutable, Lists are Mutable.
* Strings Contain Only Characters, Lists Can Contain Multiple Data Types.
* Slicing Works Similarly for Both.

Q7.  How do tuples ensure data integrity in Python?

Ans. Tuples in Python ensure data integrity primarily because they are immutable. This means that once a tuple is created, its contents cannot be changed, added to, or removed. This prevents accidental modifications and ensures that the data remains consistent and reliable.
   *Conclusion:*
              The immutability of tuples is the key feature that ensures data integrity in Python. Once created, the data in a tuple cannot be altered, protecting it from accidental changes. This makes tuples a reliable choice for storing data that should not be modified, such as fixed configuration settings, coordinates, or constant values.

Q8.  What is a hash table, and how does it relate to dictionaries in Python?

Ans. In Python, a hash table is a data structure that's implemented as a dictionary. A hash table stores key-value pairs, where the key is generated by a hash function.
      *hash*table relate to a dictionary in Python >>
      *The built-in dict() function in Python creates dictionaries.
      *The keys in a dictionary are hashable, meaning they can be used to
       generate a unique index value.
      *The order of data elements in a dictionary is not fixed.

Q9. Can lists contain different data types in Python?

Ans. Yes! In Python, lists are heterogeneous, meaning they can store different data types in a single list.

Q10. Explain why strings are immutable in Python?

Ans. In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake). This avoids unnecessary bugs.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Use dictionaries when quick lookups, key-value pairs, and uniqueness matter. Use lists when order, duplicates, and sequential access are important.

Q12. Describe a scenario where using a tuple would be preferable over a list?

Ans.Scenario: Storing Coordinates of Geographical Locations
Imagine you're building a geographic mapping application where you need to store coordinates for locations (latitude and longitude). The coordinates are pairs of numerical values that should never change once defined because the geographical position of a location remains constant over time.

In this case, using a tuple would be preferable over a list for several reasons:

Q13. How do sets handle duplicate values in Python?

Ans. Sets in Python are unordered collections of unique elements. They automatically remove duplicate values when created or modified.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The "in" keyword is used to check membership in both lists and dictionaries, but it behaves differently for each. Lists: "in" checks if a value is present anywhere in the list (slower for large lists). Dictionaries: "in" checks only keys, making it much faster due to hashing. To check dictionary values, use .values().

Q15. Can you modify the elements of a tuple? Explain why or why not.

ans.No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning that once a tuple is created, its contents cannot be changed, added, or removed.

Q16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary inside another dictionary. It allows hierarchical storage of data, where each key in the outer dictionary points to another dictionary as its value.

Q17. Describe the time complexity of accessing elements in a dictionary.

Ans.In Python, dictionaries are implemented using hash tables, which allow for fast lookups, insertions, and deletions. The time complexity of accessing elements in a dictionary is O(1), on average. This means that accessing an element by its key takes constant time, regardless of the size of the dictionary.

Q18. In what situations are lists preferred over dictionaries?

Ans. Lists and dictionaries both store data in Python, but lists are preferred in certain situations due to their ordered structure and index-based access.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries in Python are considered unordered because the order of key-value pairs is not guaranteed to be preserved. This is due to how dictionaries are implemented using a hash table. When you add items to a dictionary, Python computes the hash value of the key and stores the pair in an arbitrary location in memory.

*Impact on Data Retrieval*:
a) Data retrieval by key: The order of the items does not affect the efficiency of accessing elements by key. Dictionary lookups are (1) on average, meaning you can retrieve values quickly using keys, regardless of their order in the dictionary.
b) Iteration: If you iterate over the dictionary, the order of the items may not be the same as the order they were inserted. This can be significant when the order is important.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. List: Have a linear-time complexity ((O(n))) for searching, which can be slow for large datasets. Elements are accessed using indices, which are integers starting from 0. Good for ordered collections, like sequences of user actions.

Dictionaries: Have an average-case constant time complexity ((O(1))) for searching, making them faster for lookups. Elements are accessed using keys, which can be of any data type. Good for quick lookups, like mapping usernames to user data.

                               **PRACTICAL QUESTIONS**

In [1]:
##Q1. Write a code to create a string with your name and print it.
my_name = "KHUSHBOO BAIS"
print(my_name)

KHUSHBOO BAIS

In [2]:
##Q2. Write a code to find the length of the string "Hello World".
string01 = "Hello World"
len(string01)

11

In [6]:
##Q3. Write a code to slice the first 3 characters from the string "Python Programming".
text1 = "Python Programming"
slice_text = text1[ :3]
print(slice_text)

Pyt

In [9]:
##Q4. Write a code to convert the string "hello" to uppercase.
string1 = "hello"
string1.upper ()

'HELLO'

In [11]:
##Q5. P Write a code to replace the word "apple" with "orange" in the string "I like apple".
string1 = "I like apple"
string1.replace("apple", "orange")

'I like orange'

In [12]:
##Q6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

In [13]:
##Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [14]:
##Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1, 2, 3, 4, 5]
list1.pop(2)
print(list1)

[1, 2, 4, 5]

In [15]:
##Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1 = ['a', 'b', 'c', 'd']
list1[1]

'b'

In [16]:
##Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [17]:
##Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = 100, 200, 300
tuple1 = tuple(a)
print(tuple1)

(100, 200, 300)

In [18]:
##Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

In [19]:
##Q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
min(tuple1)

5

In [20]:
##Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
tuple1.index('cat')

1

In [21]:
##Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
basket = ('Grapes', 'Straberry', 'Papaya')
'kiwi' in basket

False

In [23]:
##Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a ='a', 'b', 'c'
set1 = set(a)
print(set1)

{'c', 'b', 'a'}

In [24]:
##Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [25]:
##Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [26]:
##Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
new_set = set1.union(set2)
print(new_set)

{1, 2, 3, 4, 5}

In [27]:
##Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
new_set = set1.intersection(set2)
print(new_set)

{2, 3}

In [28]:
##Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name" : "babul", "age" : 21, "city" : "delhi"}
print(dict1)

{'name': 'babul', 'age': 21, 'city': 'delhi'}

In [29]:
##Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
##Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"]

'Alice'

In [31]:
##Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict1["age"]
dict1

{'name': 'Bob', 'city': 'New York'}

In [32]:
##Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict1

True

In [33]:
##Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a = 10, 20, 30, 40, 50
list1 = list(a)
tuple1 = tuple(a)
list1 = list(a)
dict1 = {"name":"khushboo" ,"age": 25}
print(tuple1)
print(list1)
print(dict1)

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
{'name': 'khushboo', 'age': 25}

In [36]:
##Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1 = list(random.randint(1,100) for _ in range(5))
list1.sort()
print(list1)

[14, 49, 75, 84, 100]

In [37]:
##Q28. Write a code to create a list with strings and print the element at the third index.
a = "apple", "khushbu", "game", "nitro", "pw"
list1 = list(a)
print(list1)
list1[2]

['apple', 'khushbu', 'game', 'nitro', 'pw']

'game'

In [38]:
##Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a" : 1, "b" : 2}
dict2 = {"c" : 3, "d" : 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
##Q30. Write a code to convert a list of strings into a set.
a = "a", "b", "c"
list1 = list(a)
set1 = set(list1)
print (set1)

{'c', 'b', 'a'}